$thick: 2px;
$pad: 0.9em;
$extra: calc(#{$pad} * 0.2);
$color: #f26522;

.container-gral {
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  margin: 10px auto;
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
}
.card-result {
  display: flex;
  margin: 10px;
  padding: 10px;
  max-width: 100%;
  width: auto;
  height: auto;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media (min-width: 1000px) {
  .container-gral {
    grid-template-columns: repeat(3, 1fr);
    margin: 10px auto;
    width: 500% !important;
  }
}
@media (min-width: 1200px) and (max-width: 1899.98px) {
  .container-gral {
    grid-template-columns: repeat(3, 1fr);
    width: 100% !important;
    gap: 4px;
  }
  .container-gral img {
    width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .container-gral {
    height: auto;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767.98px) {
  .container-gral {
    grid-template-columns: repeat(1, 1fr);
    width: 100% !important;
    height: auto;
  }
}
