.loginStyles {
  font-family: "Roboto", sans-serif;
}
.form-dark {
  background: #2d2d2d;
  color: #333; /* Texto claro */
}

@media screen and (max-width: 768px) {
  .musicaStyles {
    height: auto;
    width: 100vw;
    img {
      width: 70%;
    }
  }
}
.p {
  color: "#f26522";
}

@media screen and (max-width: 1400) {
  .container-login {
    min-width: "auto";
  }
}


